<html>
  <head>
    <title>Email Welcome</title>
    <style type="text/css">
    .container{
        display: flex;
        justify-content: center;
      }
      .email-texto{
        width: 100%;
        max-width: 800px;
        align-items: center;
      }
      .campo{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .div-button{
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 0 40% 0 40%;
        align-items: center;
        position: absolute;
      }
      .button-login{
        background-color: #ba8e73;
        border: none;
        border-radius: 6px;
        box-sizing: border-box;
        color: #ffffff!important;
        font-size: 14px;
        font-weight: 600;
        height: auto;
        line-height: 20px;
        margin: 0;
        opacity: 1;
        outline: none;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none!important;
        white-space: nowrap;
      }
    </style>
  </head>
  <body>
    <div class="container" style="justify-content: center;">
      <div class="email-texto">
        <p>Olá, {{userName}}!</p>
        <p> Estamos emocionados em dar-lhe as boas-vindas à Marte 101, a sua porta de entrada para descobrir o misterioso Planeta Vermelho e seus segredos cósmicos!</p>
        <p> Seu cadastro foi um sucesso e agora você está pronto para explorar Marte como nunca antes. Clique no link abaixo para acessar a plataforma:</p>
        <div class="campo">
          <div class="div-button">
            <a class="button-login" href="https://localhost:4444/users/login"target="_blank">Acessar Marte 101</a>
          </div> 
        </div>
        <p>Aqui estão algumas das incríveis funcionalidades que você encontrará em nossa plataforma:</p>
        <ul>
            <li>Previsões meteorológicas em tempo real de Marte.</li>
            <li>Notícias espaciais e atualizações sobre as missões a Marte [em breve]</li>
            <li>Conteúdo educativo e informativo sobre o Planeta Vermelho [em breve]</li>
            <li>Uma comunidade de entusiastas da exploração espacial [em breve].</li>
        </ul>
        <p>Nós estamos aqui para ajudar e garantir que você tenha uma experiência incrível em Marte 101. Se tiver alguma dúvida ou precisar de assistência, nossa equipe de suporte está à disposição para ajudar.</p>
        <p>Prepare-se para embarcar em uma jornada emocionante de descoberta espacial! O Planeta Vermelho está esperando por você.</p>
        <p>Seja bem-vindo e aproveite sua estadia!</p>
        <p>Atenciosamente,<br/>Equipe Marte 101</p>`;
      </div>
    </div>
  </body>
</html>
